.header {
    width: 100%;
    background: #343a40;
    padding: 12px;
}

.header > ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-bottom: 0 !important;
}

.header > ul li{
    list-style: none;
    padding: 5px;
}

.header > ul li:hover{
    background: #543a40;
}

.header > ul li a{
    text-decoration: none !important;
    color: white !important;
}
